Repository 4201VitruvianBots/Crescendo2024, pull requests merged in 2024-01, with the labels that each got.

#12 Initial intake and uptake code
  .gitignore
  gradlew
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/intake/RunIntake.java
  src/main/java/frc/robot/commands/uptake/RunUptake.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/subsystems/Intake.java
  src/main/java/frc/robot/subsystems/Uptake.java
Labels: Intake/Uptake

#24 Initial amp flipper code
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/amp/AmpFlipperForward.java
  src/main/java/frc/robot/commands/amp/AmpFlipperJoystick.java
  src/main/java/frc/robot/constants/AMP.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/subsystems/AmpFlipper.java
  src/main/java/frc/robot/subsystems/AmpShooter.java
Labels: Intake/Uptake

#25 Working climber sim
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/constants/CLIMBER.java
  src/main/java/frc/robot/subsystems/Climber.java
Labels: Climber

#46 Advantage kit log fix for non-Windows platforms
  src/main/java/frc/robot/Robot.java
Labels: bug

#45 LED Subsystem Outline
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/led/GetSubsystemStates.java
  src/main/java/frc/robot/constants/CAN.java
  src/main/java/frc/robot/constants/LED.java
  src/main/java/frc/robot/subsystems/Intake.java
  src/main/java/frc/robot/subsystems/LED.java
  src/main/java/frc/robot/subsystems/LEDSubsystem.java
  src/main/java/frc/robot/subsystems/Uptake.java
  vendordeps/Phoenix5.json
Labels: LED
